.button {
  background: #bd9840;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 30px;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.15);
  text-decoration: none;
}

.button:hover {
  background: #FF9800;
  transition: all ease .3s;
}

.button-up{
  background: url(../img/button_up.png) center/80% no-repeat #bd9840;
  width: 64px;
  height: 64px;
  color: #fff;
  padding: 15px;
  margin: 740px 20px 20px;
  border-radius: 30px;
}

.button-up:hover{
  cursor: pointer;
  background: url(../img/button_up.png) center/80% no-repeat #FF9800;
  transition: all ease .3s;
}
