.button {
  background: #bd9840;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 30px;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.15);
  text-decoration: none;
}

.button:hover {
  background: #FF9800;
  transition: all ease .3s;
}

#button-up{
  display: none;
  position: fixed;
  right: 20px;
  bottom: 100px;
  color: #000;
  background-color: #000;
  text-align: center;
  font-size: 30px;
  padding: 15px;
  transition: .3s;
}

#button-up:hover{
  cursor: pointer;
  background-color: #FF0000;
  transition: .3s;
}
