header {
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  height: 100px;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-logo {
  height: 100px;
  padding: 0 20px;
  width: 410px;
}

.header-nav-list {
  list-style-type: none;
}

.header-nav-item {
  margin: 0;
  padding: 0 20px;
}

.header-nav-list .header-nav-item {
  display: inline-block;
}

.header-nav-link {
  color: #333;
  font-weight: bold;
  text-decoration: none;
}

.header-nav-link:hover {
  color: #000;
  transition: all ease .3s;
}

.menu {
  display: none;
}

.menu-line {
  width: 20px;
  height: 3px;
  background-color: black;
  margin-bottom: 4px;
}


@media all and (max-width: 640px) {
  .header-nav {
    flex-direction: column;
  }

  .menu {
    display: block;
    position: absolute;
    right: 10px;
    top: 60px;
  }

  .header-nav-list {
    list-style-type: none;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    display: none;
  }

  .header-nav-list .header-nav-item {
    display: block;
  }

  .header-nav-link {
    color: cyan;
    font-weight: bold;
    text-decoration: none;
  }

  .header-nav-link:hover {
    color: darkcyan;
    transition: all ease .3s;
  }

  .active {
    display: block;
  }
}
