.intro{
  position: relative;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  text-align: center;
}

.intro .background-image{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-color: #2196F3;
  z-index: -1;
}

.intro .background-image:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #414a4f;
  opacity: 0;
}

.intro h1{
  font: bold 60px 'Open Sans', sans-serif;
  margin-bottom: 15px;
}

.intro h3{
  font: normal 28px 'Open Sans', sans-serif;
  margin-bottom: 40px;
}

.intro a.btn{
  padding: 20px 46px;
}

@media (max-width: 800px){

  .intro{
    min-height: 600px;
  }

  .intro h1{
    font-size: 48px;
  }

  .intro h3{
    font-size: 24px;
  }

  .intro a.btn{
    padding: 15px 40px;
  }

}
