.main .grid li{
  padding: 20px;
  height: 350px;
  border-radius: 3px;

  background-clip: content-box;
  background-size: cover;
  background-position: center;
  background-color: #333;
  color: whitesmoke;
  font-weight: bold;
  font-size: 28px;
  text-align:center;
}

.connect{
background-color: gray;
opacity: 0.75;
}

.main .grid li.small{
  flex-basis: 25%;
}

.main .grid li.large{
  flex-basis: 50%;
}

@media (max-width: 1000px){
  .main .grid li.small,
  .main .grid li.large{
  flex-basis: 100%;
  }
}
