.main .grid li{
  padding: 20px;
  height: 350px;
  border-radius: 3px;
  background-clip: content-box;
  background-size: cover;
  background-position: center;
  background-color: #333;
  color: whitesmoke;
  font-size: 24px;
  text-align:center;
}

.connect{
background-color: gray;
opacity: 0.75;
}

.main .grid li.small{
  flex-basis: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 1300px){
  .main .grid li.small{
  flex-basis: 50%;
  }
}

@media (max-width: 800px){
  .main .grid li.small{
  flex-basis: 100%;
  }
}
