*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font: normal 16px sans-serif;
	color: #555;
}

body{
	background: url(../img/body.jpg) no-repeat fixed;
}
ul, nav{
	list-style: none;
}

a{
	text-decoration: none;
	color: inherit;
	vertical-align: baseline;
	cursor: pointer;
	opacity: 0.9;
}

a:hover{
	opacity: 1;
}

a.btn{
	color: #fff;
	border-radius: 4px;
	text-transform: uppercase;
	background-color: #2196F3;
	font-weight: 800;
	text-align: center;
}

hr{
	width: 150px;
	height: 2px;
	background-color: #2196F3;
	border: 0;
	margin-bottom: 80px;
}

section{
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 125px 100px;
}

@media (max-width: 1000px){

	section{
		padding: 100px 50px;
	}

}

@media (max-width: 600px){

	section{
		padding: 150px 30px;
	}

}

section h3.title{
	color: #414a4f;
	font: bold 32px 'Open Sans', sans-serif;
	margin-bottom: 35px;
	text-align: center;
}

section p{
	max-width: 800px;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 15px;
	padding: 0 20px;
	line-height: 1,5;
}

ul.grid{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

}

@media (max-width: 1200px) {
	#bsaHolder{ display:none;}
}
