.title {
  font-weight: bold;
  font-size: 48px;
  padding-top: 100px;
  padding-bottom: 20px;
  text-align:center;
}

.medium-title {
  font-weight: bold;
  font-size: 38px;
  padding-top: 10px;
  padding-bottom: 30px;
  text-align:center;
}

.paragraph {
  margin-top: 40px;
}
